footer.footer
  .col
    p.desc Cửa hàng của chúng tôi đã hoạt động hơn 15 năm trong lĩnh vực công nghệ hàng đầu Châu á. Với những sản phẩm chất lượng, giá cả phải chăng.
    a.read-more(href="") Đọc thêm
    .social
      a(href="")
        i.fa-brands.fa-facebook
      a(href="")
        i.fa-brands.fa-twitter
      a(href="")
        i.fa-brands.fa-instagram
      a(href="")
        i.fa-brands.fa-youtube
  .col
    h3.headline Pháp lý
    ul
      li: a(href="")  - Điều khoản sử dụng
      li: a(href="")  - Chính sách bảo mật
      li: a(href="")  - Bản quyền và thông tin pháp lý khác
      li: a(href="")  - Sứ mệnh của công ty
  .col
    h3.headline Hỗ trợ khách hàng
    ul
      li: a(href="")  - Câu hỏi thường gặp (FAQs)
      li: a(href="")  - Chính sách đổi trả và hoàn tiền
      li: a(href="")  - Hướng dẫn mua hàng
      li: a(href="")  - Trung tâm trợ giúp hoặc hướng dẫn sử dụng sản phẩm
  .col
    h3.headline Thông tin liên hệ
    ul
      li
        i.fa-solid.fa-location-dot
        span Số 20 Ngõ Trại cá, Trương Định, Hà nội
      li
        i.fa-solid.fa-phone-volume
        span 6868686868
      li
        i.fa-regular.fa-envelope
        span thuan13112003@gmail.com
      li
        i.fa-regular.fa-clock
        span 8:00am - 17:30pm