@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes colorChange {
  0% {
    color: #00ffff; /* Màu xanh lục */
  }
  25% {
    color: #00ff00; /* Màu xanh lá cây */
  }
  50% {
    color: #0000ff; /* Màu xanh dương */
  }
  75% {
    color: #ffff00; /* Màu vàng */
  }
  100% {
    color: #00ffff; /* Màu xanh lục */
  }
}

@keyframes colorChangeFeatured {
  0% {
    color: #ffff00; /* Màu xanh lục */
  }
  50% {
    color: #00ffff; /* Màu xanh dương */
  }
  100% {
    color: #ffff00; /* Màu xanh lục */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Header*/
/* .header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 75px;
  max-width: 100%;
}

.title-logo {
  animation: colorChange 5s linear infinite;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
} */

header {
  position: relative;
  width: 100%;
  height: 70px;
  /* background: rgb(8, 9, 19); */
  background: rgb(62, 190, 62);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  height: 100%;
  padding-left: 4%;
  width: 20%;
}

.brand a {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.brand .fa-bag-shopping {
  font-size: 35px;
}
.brand h1 {
  margin-left: 5%;
}
.navbar {
  position: relative;
  width: 70%;
  padding: 0 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchBox {
  position: relative;
  width: 40%;
  display: flex;
  align-items: center;
}

.searchBox form {
  width: 100%;
}

.searchBox input {
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 8px;
  padding: 1%;
  /* text-indent: 10px; */
  font-size: 18px;
}

.searchBox button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  height: 100%;
  border: none;
  background: none;
  color: #333; /* Hoặc màu sắc bạn muốn */
  cursor: pointer;
}

#searchIcon {
  position: relative;
  left: -3px;
  font-size: 22px;
  color: rgb(77, 77, 77);
  cursor: pointer;
  z-index: 998;
}
.navbar ul {
  width: 60%;
  text-align: center;
  margin-bottom: 0;
}
.navbar ul li {
  display: inline-block;
  margin-left: 4%;
  transition: all 0.5s ease;
  text-align: center;
  cursor: pointer;
  padding: 1%;
  height: 30px;
  overflow: hidden;
}
.navbar ul li:hover {
  height: 45px;
}

.navbar ul li #headIcon {
  display: block;
  font-size: 21px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.navbar ul li a:active,
:focus {
  text-decoration: none;
  font-weight: 700;
}
#menuIcon {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    display: block;
    width: 60%;
    display: none;
    z-index: 9999;
  }
  .navbar.navactive {
    display: inline;
  }
  .searchBox {
    position: relative;
    width: 100%;
    top: 60px;
    z-index: 998;
    left: 5%;
  }
  #menuIcon {
    display: inline;
    position: fixed;
    font-size: 25px;
    margin-left: 88%;
    z-index: 99999;
    float: right;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgb(221, 221, 221);
  }
  .navbar ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(8, 9, 19); */
    background: rgb(62, 190, 62);
  }
  .navbar ul li {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    text-align: left;
    position: relative;
    top: 50px;
    padding: 2%;
  }
  .navbar ul li #headIcon {
    display: inline-block;
    font-size: 20px;
  }
  .navbar ul li:hover {
    /* background: rgb(35, 36, 51); */
    background: rgb(66, 101, 66);
  }
  .navbar ul li a {
    margin-left: 40px;
    font-family: 600;
  }
}

/*End Header*/

/*Footer*/
.footer {
  background: #333;
  color: #fff;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  gap: 35px;
}

.footer .col {
  width: calc(25% - 35px);
}

.footer .desc {
  margin: 12px 0px;
}

.footer .read-more {
  color: #4093a7;
  font-weight: 500;
}

.footer .social {
  margin-top: 30px;
  transition: 0.3s;
}

.footer .social a {
  margin-right: 15px;
}

.footer .social a:hover {
  color: #4093a7;
}

.footer .headline {
  color: #fff;
  margin-bottom: 28px;
}

.footer .headline::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4093a7;
  margin-top: 10px;
}

.footer ul li {
  margin-bottom: 16px;
}
.footer ul li a {
  transition: 0.3s;
}
.footer ul li a:hover {
  color: #4093a7;
}

.footer ul li {
  display: flex;
  align-items: flex-start;
}

.footer ul li i {
  color: #4093a7;
  margin-right: 10px;
  transform: translateY(2px);
}

@media (max-width: 992px) {
  .footer .col {
    width: calc(50% - 35px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 30px;
  }
}

@media (max-width: 576px) {
  .footer .col {
    width: 100%;
  }
}

/* End footer*/

/*box-head*/
.box-head {
  padding: 20px;
  background-color: #f8f9fa; /* Màu nền nhẹ nhàng */
  border-bottom: 2px solid #dee2e6; /* Viền dưới để phân cách */
  margin-bottom: 20px; /* Khoảng cách với nội dung bên dưới */
}

.box-head-center {
  padding: 20px;
  background-color: #f8f9fa; /* Màu nền nhẹ nhàng */
  border-bottom: 2px solid #dee2e6; /* Viền dưới để phân cách */
  margin-bottom: 20px; /* Khoảng cách với nội dung bên dưới */
  text-align: center;
}

.inner-title {
  margin: 0; /* Loại bỏ margin mặc định */
  color: #495057; /* Màu sắc cho tiêu đề */
  font-size: 24px; /* Kích thước font lớn */
  font-weight: 600; /* Độ đậm của font */
  text-transform: uppercase; /* Chữ hoa */
  letter-spacing: 1px; /* Khoảng cách giữa các chữ */
}
/*End box-head*/

/*product-item*/
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-item .inner-image:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  animation: colorChangeFeatured 2s linear infinite;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 18px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 700;
  color: green;
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: rgb(210, 83, 83);
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/*End sub-menu*/

/* product-detail */
.product-detail .inner-thumb {
  overflow: hidden;
}

.product-detail .inner-thumb img {
  width: 100%;
  aspect-ratio: 4/3;
  transition: transform 0.3s ease-in-out;
}

.product-detail .inner-thumb:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.product-detail .inner-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #aa4747;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  border-radius: 8px;
}

.product-detail .inner-stock span {
  color: #419c33;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inner-desc h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inner-desc p {
  margin-bottom: 10px;
  font-size: 15px;
}

.inner-desc img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
/* end product-detail */

/*Show Alert*/
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/*End Show Alert*/

/* 404 not found*/
.page_404 {
  padding: 40px 0;
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin: 30px;
}
/* End 404 not fount*/

/* Range price*/
.range-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#sliderValueMin,
#sliderValueMax {
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button[range-price] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button[range-price]:hover {
  background-color: #45a049;
}
/* End range price*/
