@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes colorChange {
  0% {
    color: #00ffff; /* Màu xanh lục */
  }
  25% {
    color: #00ff00; /* Màu xanh lá cây */
  }
  50% {
    color: #0000ff; /* Màu xanh dương */
  }
  75% {
    color: #ffff00; /* Màu vàng */
  }
  100% {
    color: #00ffff; /* Màu xanh lục */
  }
}

@keyframes colorChangeFeatured {
  0% {
    color: #ffff00; /* Màu xanh lục */
  }
  50% {
    color: #00ffff; /* Màu xanh dương */
  }
  100% {
    color: #ffff00; /* Màu xanh lục */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Header*/
.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  max-height: 75px;
  max-width: 100%;
}

.title-logo {
  animation: colorChange 5s linear infinite;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}
/*End Header*/

/*Footer*/
.footer {
  background: #333;
  color: #fff;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  gap: 35px;
}

.footer .col {
  width: calc(25% - 35px);
}

.footer .desc {
  margin: 12px 0px;
}

.footer .read-more {
  color: #4093a7;
  font-weight: 500;
}

.footer .social {
  margin-top: 30px;
  transition: 0.3s;
}

.footer .social a {
  margin-right: 15px;
}

.footer .social a:hover {
  color: #4093a7;
}

.footer .headline {
  color: #fff;
  margin-bottom: 28px;
}

.footer .headline::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #4093a7;
  margin-top: 10px;
}

.footer ul li {
  margin-bottom: 16px;
}
.footer ul li a {
  transition: 0.3s;
}
.footer ul li a:hover {
  color: #4093a7;
}

.footer ul li {
  display: flex;
  align-items: flex-start;
}

.footer ul li i {
  color: #4093a7;
  margin-right: 10px;
  transform: translateY(2px);
}

@media (max-width: 992px) {
  .footer .col {
    width: calc(50% - 35px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 30px;
  }
}

@media (max-width: 576px) {
  .footer .col {
    width: 100%;
  }
}

/* End footer*/

/*box-head*/
.box-head {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  color: green;
}
/*End box-head*/

/*product-item*/
.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-item .inner-image:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  animation: colorChangeFeatured 2s linear infinite;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-content .inner-title {
  font-size: 18px;
  font-weight: 600;
}

.product-item .inner-content .inner-price-new {
  font-size: 18px;
  font-weight: 700;
  color: green;
}

.product-item .inner-content .inner-price-old {
  font-size: 18px;
  font-weight: 600;
  color: red;
  text-decoration: line-through;
}

.product-item .inner-content .inner-discount {
  font-size: 14px;
  font-weight: 600;
  color: white;
  background: rgb(210, 83, 83);
  display: inline-block;
  padding: 3px 10px;
  border-radius: 8px;
}

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9;
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/*End sub-menu*/

/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  aspect-ratio: 4/3;
  transition: transform 0.3s ease-in-out;
}

.product-detail .inner-thumb:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.product-detail .inner-title {
  font-size: 30px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #aa4747;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  border-radius: 8px;
}

.product-detail .inner-stock span {
  color: #419c33;
  font-weight: 700;
  display: inline-block;
  margin-left: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.inner-desc h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inner-desc p {
  margin-bottom: 10px;
  font-size: 15px;
}

.inner-desc img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
/* end product-detail */

/*Show Alert*/
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background: #5c5a5ac4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/*End Show Alert*/

/* 404 not found*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}
/* End 404 not fount*/
